<a href="https://colab.research.google.com/github/itimes-digital/estudo-python-git/blob/master/machine-learning/regression_linear/regression_linear_polinomial_casas_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

In [3]:
base = pd.read_csv('https://raw.githubusercontent.com/itimes-digital/estudo-python-git/master/machine-learning/dataset/house_price.csv')
base

               id             date  ...  sqft_living15  sqft_lot15
0      7129300520  20141013T000000  ...           1340        5650
1      6414100192  20141209T000000  ...           1690        7639
2      5631500400  20150225T000000  ...           2720        8062
3      2487200875  20141209T000000  ...           1360        5000
4      1954400510  20150218T000000  ...           1800        7503
...           ...              ...  ...            ...         ...
21608   263000018  20140521T000000  ...           1530        1509
21609  6600060120  20150223T000000  ...           1830        7200
21610  1523300141  20140623T000000  ...           1020        2007
21611   291310100  20150116T000000  ...           1410        1287
21612  1523300157  20141015T000000  ...           1020        1357

[21613 rows x 21 columns]

In [0]:
X = base.iloc[:, 3:19].values
Y = base.iloc[:, 2].values

x_treinamento, x_teste, y_treinamento, y_teste = train_test_split(X, 
                                                                  Y, 
                                                                  test_size = 0.3,
                                                                  random_state = 0)

In [0]:
poly = PolynomialFeatures(degree = 5)

x_treinamento_poly = poly.fit_transform(x_treinamento)

x_teste_poly = poly.transform(x_teste)

In [11]:
regressor = LinearRegression()
regressor.fit(x_treinamento_poly, y_treinamento)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
score = regressor.score(x_treinamento_poly, y_treinamento)
score

0.8397809107422287

In [0]:
previsoes = regressor.predict(x_teste_poly)

In [15]:
previsoes

array([ 435807.3853395 , 1795836.27109981,  530374.072963  , ...,
        445878.03975415,  257865.35644412,  186201.28427672])

In [16]:
mean_abs_error = mean_absolute_error(y_teste, previsoes)
mean_abs_error

447720.38294685073

In [25]:
mean_sqd_error = mean_squared_error(y_teste, previsoes)
mean_sqd_error

241160782616405.84